body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
div {
  font-size: 20px;
}
.column-one {

  padding: 10px;
  border: 2px solid red;
  vertical-align: baseline;
}
.column-two {
  width: 1000px;
  border: 2px solid red;
  padding: 10px;
}
label {
  width: 120px;
}
img {
  width: 150px;
}
form {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flag {
  padding-left: 300px;
}
.counrty {
  width: 460px;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid black;
}
.card {
  display: flex;
  height: 360px;
}
.cat-card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
  margin-left: 10px;
  width: 600px;
  border: 2px solid black;
  overflow-y: scroll;
}
.cat {
  text-align: center;
  padding: 10px;
}